.product-label-holder {
  display: flex;
  justify-content: space-between;

  a {
    color: var(--primary);
    &:hover {
      color: #000;
    }
  }
}

.radio-holder {
  display: flex;

  .form-check {
    margin-right: 30px;
  }
}